.git
.gitignore

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

.idea/
.vscode/
*.swp
*.swo
.DS_Store

.ipynb_checkpoints
*.ipynb

outputs/logs/*
outputs/evaluation/metrics/*
outputs/evaluation/plots/*
!outputs/models/*.joblib
!outputs/models/*.pth

# Exclude bonus dataset
data/raw/bonus_task.csv

# Keep the structure
!**/.gitkeep 